<section class="library">
  <div class="container">
    <div class="lib-empty is-hidden" id="lib-empty">
      <p class="lib-empty__text">
        OOPS...
        <br />
        We are very sorry!
        <br />
        You don’t have any movies at your library.
      </p>
      <a class="lib-empty__search-btn" href="./catalog.html">Search movie</a>
    </div>
    <div class="lib-catalog" id="lib-catalog">
      <select id="genres-select">
        <option class="visually-hidden" value="-1">Genre</option>
      </select>
      <ul
        class="lib-catalog__list list-movie-card js-gallery"
        id="library-movie-list"
      ></ul>
      <button class="lib-catalog__load-more" id="lib-load-more" type="button">
        Load more
      </button>
    </div>
  </div>
</section>
