.weekly-trends {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.wrapper-weekly-trends {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 24px;
}
.title-weekly-trends {
  color: white;
}
.link-weekly-trends {
  color: #f87719;
}
// -------cards

.list-movie-card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.item-movie-card {
  position: relative;
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
}
.poster-movie-card {
  width: 100%;
}
.info-movie-card {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  line-height: 1.6;
  width: 100%;
}

.title-movie-card {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}

.overlay-movie-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 63.48%, #000000 92.16%);
  z-index: 10;
}
.wrapper-movie-card {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  margin-bottom: 16px;
  color: #b7b7b7;
}

.genre-year-movie-card {
  display: flex;
  align-items: center;
}
.divider-movie-card {
  margin: 0 5px;
  color: #b7b7b7;
}

.genre-movie-card {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
}
.rating-body {
  position: relative;
}
.rating-body::before {
  content: '★★★★★';
  display: block;
}
.rating-active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: yellow;
}

.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating-value {
  visibility: hidden;
  width: 0;
}
// --------tablet-------
