// -----mobile
.weekly-trends {
  font-family: $font-family, $font-primary;
  font-weight: $font-weight-medium;
  padding-top: 40px;
  padding-bottom: 32px;
  color: $white-color;
}

.wrapper-weekly-trends {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.18;

  margin-bottom: 24px;
}
.title-weekly-trends {
  color: $white-color;
}
.link-weekly-trends {
  color: $orange-color;
}

// -------cards
.list-movie-card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
}
.item-movie-card {
  position: relative;
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
}

.item-movie-card:hover {
  box-shadow: 1px 1px 7px 2px rgba(255, 107, 8, 0.42);
}

.poster-movie-card {
  width: 100%;
}

.info-movie-card {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 1.6;
  width: 100%;
}

.title-movie-card {
  text-align: left;
  text-transform: uppercase;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 12px;
}

.overlay-movie-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 63.48%, #000000 92.16%);
  z-index: 10;
}
.wrapper-movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-grey-color;
}

.genre-year-movie-card {
  display: flex;
  align-items: center;
}
.divider-movie-card {
  margin: 0 5px;
  color: $light-grey-color;
}

.genre-movie-card {
  white-space: nowrap;
  overflow: hidden;
}

.rating {
  display: flex;
  align-items: flex-end;

  font-size: 13.3px;
  line-height: 1;
  margin: 0;
}
.rating-body {
  position: relative;
}
.rating-body::before {
  content: '★★★★★';
  display: block;
  letter-spacing: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $text-color-accent;
  color: transparent;
}
.rating-active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-active::before {
  content: '★★★★★';
  letter-spacing: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: $text-color-accent;
}

.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating-value {
  visibility: hidden;
  width: 0;
}

@media screen and (max-width: 767px) {
  .item-movie-card:nth-child(2),
  .item-movie-card:nth-child(3) {
    display: none;
  }
}
// --------tablet-------
@media screen and (min-width: 768px) {
  .weekly-trends {
    padding-top: 52px;
    padding-bottom: 44px;
  }
  .wrapper-weekly-trends {
    font-size: 24px;
    line-height: 1.16;
  }

  .list-movie-card {
    column-gap: 16px;
  }
  .item-movie-card {
    width: 224px;
    width: calc((100% - 2 * 16px) / 3);
  }
  .info-movie-card {
    line-height: 1.5;
    padding-bottom: 12px;
  }

  .rating {
    font-size: 9px;
  }
}
// --------desktop-------
@media screen and (min-width: 1280px) {
  .weekly-trends {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .wrapper-weekly-trends {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 1.17;
  }

  .list-movie-card {
    column-gap: 15px;
  }
  .item-movie-card {
    width: 395px;
    width: calc((100% - 2 * 15px) / 3);
  }
  .info-movie-card {
    font-size: 20px;
    line-height: 1.15;
    padding-left: 20px;
    padding-right: 18px;
    padding-bottom: 20px;
  }
  .rating {
    font-size: 17.5px;
  }
}
