// Базовые стили

html {
    box-sizing: border-box;
}

body { 
     background-color: var(--page-bgc);
    animation:(background-color);
    font-family: 'Roboto';
    &.modal-open {
            overflow: hidden;
        }
}