// Переменные

// Colors

$orange-color: #F87719;
$black-color: #111111;
$dark-grey-color: #282828;
$grey-color: #595959;
$light-grey-color: #B7B7B7;
$off-white-color: #F8F8F8;
$white-color: #FFFFFF;

$gradient-orange-color: rgba(255, 194, 38, 1);
$gradient-red-color: rgba(248, 65, 25, 1);


// Text

$font-primary: 'DM Sans', sans-serif;
$font-family: "Roboto";

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-main: 64px;
$font-size-subheader: 28px;
$font-size-header: 52px;
$font-size-large: 40px;
$font-size-body: 20px;
$font-size-subbody: 24px;
$font-size-small: 16px;
$font-size-tiny: 14px;
$font-size-caption: 12px;
$font-size-helper: 10px;

// Animation

$transition-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);