// Переменные

// Colors

$orange-color: #f87719;
$black-color: #111111;
$darker-grey-color: #1c1c1c;
$dark-grey-color: #282828;
$grey-color: #595959;
$light-grey-color: #b7b7b7;
$off-white-color: #f8f8f8;
$white-color: #ffffff;

$gradient-orange-color: rgba(255, 194, 38, 1);
$gradient-red-color: rgba(248, 65, 25, 1);

// Text

$font-primary: 'DM Sans', sans-serif;
$font-family: 'Roboto';

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-main: 64px;
$font-size-subheader: 28px;
$font-size-header: 52px;
$font-size-large: 40px;
$font-size-body: 20px;
$font-size-subbody: 24px;
$font-size-small: 16px;
$font-size-tiny: 14px;
$font-size-caption: 12px;
$font-size-helper: 10px;

// Animation

$transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$transition: 250ms;




:root[data-theme='dark'] {
  --page-bgc: #{$black-color};
  --hero-bgc-clr: #{$dark-grey-color};
  --hero-title-clr: #{$white-color};
  --hero-slider-btn: #{$light-grey-color};
  --hero-slider-arrow: #{$off-white-color};
  --primary-text-clr: #{$white-color};
  --secondary-text-clr: #{$off-white-color};
  --muted-text-clr: #{$light-grey-color};
  --secondary-bcg-clr: #{$white-color};
  --muted-secondary-text-clr: #{$light-grey-color};
  --modal-text-color: #{$black-color};
  --modal-secondary-color: #{$off-white-color};

  --switcher-pos-mob: 18px;
  --switcher-pos-tab: 30px;
  --switcher-pos-desk: 34px;

  --switcher-bow-pos-mob: -16px;
  --switcher-bow-pos-tab: -4px;
  --switcher-bow-pos-desk: 0px;

  --switcher-bow-rotaion: 0;

  --mobile-menu-bgc: #{$black-color};
  --backdrop-bgc: rgb(255, 255, 255);
}

:root[data-theme='light'] {
  --page-bgc: #{$white-color};
  --hero-bgc-clr: #{$off-white-color};
  --hero-title-clr: #{$black-color};
  --hero-slider-btn: #{$dark-grey-color};
  --hero-slider-arrow: #{$grey-color};
  --primary-text-clr: #{$dark-grey-color};
  --secondary-text-clr: #{$dark-grey-color};
  --muted-text-clr: #{$grey-color};
  --secondary-bcg-clr: #{$off-white-color};
  --muted-secondary-text-clr: #{$black-color};
  --modal--text-color: #{$dark-grey-color};
  --modal-secondary-color: #{$black-color};

  --switcher-pos-mob: -3px;
  --switcher-pos-tab: -3px;
  --switcher-pos-desk: -2px;

  --switcher-bow-pos-mob: -36px;
  --switcher-bow-pos-tab: -36px;
  --switcher-bow-pos-desk: -35px;

  --switcher-bow-rotaion: 180deg;

  --mobile-menu-bgc: #{$off-white-color};
  --backdrop-bgc: rgb(0, 0, 0);
}