<section class="section-catalog">
  <div class="container">
    <form class="search-form" id="search-form">
      <div class="box-search">
        <div class="input-div">
          <input
            class="form-input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            required
            placeholder
          />
          <span>Search</span>
        </div>
      </div>
      <button class="clear-btn" type="reset"></button>
      <select id="year-select" class="year-select">
          <option value="-1">Year</option>
        </select>
        <select id="country-select" class="country-select">
          <option value="-1">Year</option>
        </select>
      <button type="submit">
        <svg class="search-svg-btn" width="18" height="18">
          <use href="/src/img/icons.svg#icon-search"></use>
        </svg>
      </button>
      
    </form>
    <ul id="anchor" class="gallery">
      <!-- Карточки изображений -->
    </ul>
    <div class="pagination">
      <ul>
        <!--pages or li are comes from javascript -->
      </ul>
    </div>
    <!-- <div id="tui-pagination-container" class="tui-pagination"></div> -->
  </div>
</section>
