<section class="section-catalog">
  <div class="container">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button class="clear-btn" type="button">Clear</button>
      <button type="submit">Search</button>
    </form>
    <ul id="anchor" class="gallery">
      <!-- Карточки изображений -->
    </ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>
