<section class="hero">
  <!-- <div class="container"> -->
  <!-- <div class="hero__wrap"> -->
  <!-- <div class="hero__thumb">
        <picture class="hero__picture">
          <source
            srcset="
              /src/img/hero/poster-desktop@1x.jpg 1x,
              /src/img/hero/poster-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/img/hero/poster-tablet@1x.jpg 1x,
              /src/img/hero/poster-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/img/hero/poster-mobile@1x.jpg 1x,
              /src/img/hero/poster-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/src/img/hero/poster-desktop@1x.jpg" alt="poster" />
        </picture>

        <div class="hero__inner">
          <div class="hero__content">
            <h1 class="hero__title default">Let’s Make Your Own Cinema</h1>
            <p class="hero__text">
              Is a guide to creating a personalized movie theater experience.
              You'll need a projector, screen, and speakers.
            </p>
            <div class="hero__nav">
              <a href="./library.html">
                <button class="hero__btn hero__btn--primary">
                  Get Started
                </button>
              </a>
              <button class="hero__btn-secondary vhidden">More details</button>
            </div>
          </div>
        </div>

        <div class="hero__overlay"></div>
      </div> -->
  <!-- </div> -->
  <!-- </div> -->
</section>
