.lib-hero {
  height: 380px;
  background-color: $black-color; // Чтобы не было странного свечения на светлой теме

  @include screen(tablet) {
    height: 432px;
  }

  @include screen(desktop) {
    height: 720px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  &__wrap {
    padding-top: 40px;

    @include screen(tablet) {
      padding-top: 62px;
    }

    @include screen(desktop) {
      padding-top: 229px;
      padding-left: 117px;
    }
  }

  &__title {
    width: 235px;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    text-transform: capitalize;
    margin-bottom: 8px;

    @include screen(tablet) {
      width: 330px;
      font-size: 44px;
      line-height: 1.18;
      margin-bottom: 12px;
    }

    @include screen(desktop) {
      width: 464px;
      font-size: 64px;
      line-height: 1.17;
      margin-bottom: 16px;
    }
  }

  &__text {
    width: 230px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $text-color-secondary;

    @include screen(tablet) {
      width: 330px;
    }

    @include screen(desktop) {
      width: 430px;
      font-size: 16px;
      line-height: 1.19;
    }
  }
}
