.library {
  font-family: $font-family;
}

@mixin flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lib-empty {
  @include flex-center-column();

  #{&}__text {
    text-align: center;
    color: $title-text-color;

    @include media-query(mobile) {
      margin-bottom: 20px;
      line-height: 140%;
      font-size: 1.25rem;
      min-height: 120px;
    }
    @include media-query(tablet) {
      margin-bottom: 24px;
      line-height: 133.333333%;
      font-size: 1.5rem;
      min-height: 104px;
    }
    @include media-query(desktop) {
      margin-bottom: 28px;
      line-height: 112.5%;
      font-size: 2rem;
      min-height: 124px;
    }
  }

  #{&}__search-btn {
    @include standard-orange-button(1.125rem, 156%);
  }

  @include media-query(mobile) {
    padding-top: 44px;
    // padding-bottom: 42px;
  }
  @include media-query(tablet) {
    padding-top: 80px;
    // padding-bottom: 60px;
  }
  @include media-query(desktop) {
    padding-top: 160px;
    // padding-bottom: 108px;
  }
}

.lib-catalog {
  @include flex-center-column();
  align-items: start;

  #{&}__list {
    justify-content: start;
    width: 100%;
  }

  #{&}__load-more {
    @include standard-orange-button(1.125rem, 156%);
    align-self: center;
    margin-top: 40px;
    @include media-query(mobile) {
      margin-top: 24px;
    }
  }

  @include media-query(mobile) {
    padding-top: 40px;
  }

  @include media-query(tablet) {
    padding-top: 60px;
  }

  @include media-query(desktop) {
    padding-top: 80px;
    // padding-bottom: 96px;
  }

  @include custom-select(173px, 144px, 260px);

  .custom-select-container {
    margin-bottom: 16px;

    @include media-query(tablet) {
      margin-bottom: 36px;
    }

    @include media-query(desktop) {
      margin-bottom: 48px;
    }
  }
}
