.library {
}

@mixin flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lib-empty {
  @include flex-center-column();

  #{&}__text {
    font-family: 'Roboto';
    text-align: center;
    color: $white-color;

    @include media-query(mobile) {
      margin-bottom: 20px;
      line-height: 140%;
      font-size: 1.25rem;
      min-height: 120px;
    }
    @include media-query(tablet) {
      margin-bottom: 24px;
      line-height: 133.333333%;
      font-size: 1.5rem;
      min-height: 104px;
    }
    @include media-query(desktop) {
      margin-bottom: 28px;
      line-height: 112.5%;
      font-size: 2rem;
      min-height: 124px;
    }
  }

  #{&}__search-btn {
    @include standard-orange-button();
  }

  &.is-hidden {
    display: none;
  }

  @include media-query(mobile) {
    padding-top: 44px;
    padding-bottom: 42px;
  }
  @include media-query(tablet) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @include media-query(desktop) {
    padding-top: 160px;
    padding-bottom: 108px;
  }
}

.lib-catalog {
  @include flex-center-column();

  #{&}__list {
  }

  #{&}__load-more {
    @include standard-orange-button();
  }
}
