<div class="backdrop is-hidden">
  <div class="footer-modal">
    <button type="button" class="modal-team-close">
      <svg class="close-icon" width="11" height="11">
        <use href="./img/icons.svg#icon-exit"></use>
      </svg>
    </button>
    <div team-wrap>
      <a href="./index.html" class="header-logo"
        ><svg class="logo-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-logo"></use></svg
        >Cinemania</a
      >
      <h2 class="modal-team-title">Created by our superheros</h2>
      <ul class="modal-team-list">
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Alexander Dubin</h3>
          <p class="modal-team-deskr">Team Lead Superhero</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Alexandr Zimnitsa</h3>
          <p class="modal-team-deskr">Superhero of JS and section Hero</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero3.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Alina Cherevko</h3>
          <p class="modal-team-deskr">Superhero of footer and team's-modal</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Bogdan Pavluk</h3>
          <p class="modal-team-deskr">
            Superhero of header and theme's switcher
          </p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Bohdan Kireev</h3>
          <p class="modal-team-deskr">Superhero of JS and section Catalog</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero6.jpg"
            width="264"
            height="300"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Nataliia Yaroshenko</h3>
          <p class="modal-team-deskr">Superhero of film's modal</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Oleksandr Maliy</h3>
          <p class="modal-team-deskr">Superhero of JS and section upcoming</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Yuliya Yaremchuk</h3>
          <p class="modal-team-deskr">Superhero of modal's trailer</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Vladislav Vladinov</h3>
          <p class="modal-team-deskr">Superhero of JS and section my Library</p>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <h3 class="modal-team-aftertitle">Tatyana Ognivenko</h3>
          <p class="modal-team-deskr">Superhero of section Trends</p>
        </li>
      </ul>
    </div>
  </div>
</div>
