<div class="backdrop is-hidden">
  <div class="footer-modal">
    <button type="button" class="modal-team-close">
      <svg class="close-icon" width="11" height="11">
        <use class="use-close" href="./img/icons.svg#icon-exit"></use>
      </svg>
    </button>
    <div class="team-wrap">
      <a href="./index.html" class="header-logo"
        ><svg class="logo-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-logo"></use></svg
        >Cinemania</a
      >
      <h2 class="modal-team-title">Created by our superheros</h2>
      <ul class="modal-team-list">
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero1.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Alexander Dubin</h3>
            <p class="modal-team-deskr">Team Lead Superhero</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/AlexDubin"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/AlexDubin</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero2.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Alexandr Zimnitsa</h3>
            <p class="modal-team-deskr">Superhero of JS and section Hero</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/zim89"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/zim89</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero3.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Alina Cherevko</h3>
            <p class="modal-team-deskr">Superhero of footer and team's-modal</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/AlinaCherevko"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/AlinaCherevko</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero4.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Bogdan Pavluk</h3>
            <p class="modal-team-deskr">
              Superhero of header and theme's switcher
            </p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/j-Hop"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/j-Hop</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero5.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Bohdan Kireev</h3>
            <p class="modal-team-deskr">Superhero of JS and section Catalog</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/Acidhouzee"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/Acidhouzee</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero6.jpg"
            width="264"
            height="300"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Nataliia Yaroshenko</h3>
            <p class="modal-team-deskr">Superhero of film's modal</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/NataliiaYa"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/NataliiaYa</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero7.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Oleksandr Maliy</h3>
            <p class="modal-team-deskr">Superhero of JS and section upcoming</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/oleksandrmaliy"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/oleksandrmaliy</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero8.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Yuliya Yaremchuk</h3>
            <p class="modal-team-deskr">
              Scrum-master and superhero modal's trailer
            </p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/jujalei"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/jujalei</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero9.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Vladislav Vladinov</h3>
            <p class="modal-team-deskr">
              Superhero of JS and section my Library
            </p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/SalOne22"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/SalOne22</a
            >
          </div>
        </li>
        <li class="modal-team-item">
          <img
            src="./img/mobile/superhero10.jpg"
            width="264"
            height="260"
            class="team-img"
            alt="first-team-img"
          />
          <div class="descr-wrap">
            <h3 class="modal-team-aftertitle">Tatyana Ognivenko</h3>
            <p class="modal-team-deskr">Superhero of section Trends</p>
            <a
              class="github-link"
              rel="noopener noreferrer nofollow"
              target="_blank"
              href="https://github.com/TetianaOgni"
              ><svg class="github-icon" width="24" height="24">
                <use
                  class="use-github"
                  href="./img/icons.svg#icon-github"
                ></use></svg
              >https://github.com/TetianaOgni</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
