<div class="modal-backdrop is-hidden">
    <div class="modal__wrap">
        <button class="modal__close-btn" type="button" data-action="close-trailer-modal">
        <svg class="modal__close-icon" width="10.5px" height="10.5px">
            <use href="./img/icons.svg#icon-exit"></use>
        </svg>
        </button>
        <ul class="cards-film"></ul>
    </div>
</div>


<!-- TODO============================== -->

<!-- <li class="film--add" data-id="${id}">
  <div class="film-add__wrap">
    <img class="film-add__img" src="https://image.tmdb.org/t/p/original/${backdrop_path}" alt="${original_title}" loading="lazy" />
  </div>
  <div class="film-add__desc">
    <h2 class="film-add__title">${original_title}</h2>

    <ul class="film-add__list list">
      <li class="film-add__item">
        <span class="film-add__subtitle">Vote / Votes</span
        ><span class="film-add__span votes"
          >${vote_average}</span> / <span class="film-add__span votes"
          >${vote_count}</span>
      </li>
      <li class="film-add__item">
        <span class="film-add__subtitle">Popularity</span
        ><span class="film-add__span">${popularity}</span>
      </li>
      <li class="film-add__item">
        <span class="film-add__subtitle">Genre</span
        ><span class="film-add__span"></span>
      </li>
    </ul>

    <div class="film-add__wrap-desc">
      <h3 class="film-add__about"></h3>
      <p class="film-add__text"></p>
    </div>

    <button type="button" class="film-add__btn btn">Add to my library</button>
  </div>
</li> ./img/icons.svg#icon-exit--> 