.section-catalog{
    padding-top: 40px;
    
}

.search-form {
    max-width: 100%;
    margin-bottom: 16px;
    display: flex;



        align-items: center;
        
        
  }
  
//   .search-form input[name="searchQuery"] {
//     width: 224px;
//     padding: 10px;
//     padding-left: 20px;

//     font-size: 14px;
//     color: $white-color;
//     background-color: $black-color;
//     border: 1px solid $light-grey-color;
//     border-radius: 8px;
//     transition: 0.3s all;
//   }
  
//   .search-form input[name="searchQuery"]::placeholder {
//     font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 14px;
//         line-height: 16px;
//         display: flex;
//         align-items: center;
//         text-align: left;
//     color: $light-grey-color;
    
//   }
  
//   .search-form input[name="searchQuery"]:focus {
//     outline: none;
//     border-color: $white-color;
//   }



  .box {
      padding: 10px;
      position: relative;
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      transition: all 0.5s;
  }

  .input-div {
      position: relative;
  }

.form-input {
    width: 224px;
    font-size: 14px;
    outline: none;
     
    
    padding: 10px;
    padding-left: 20px;
    transition: 0.5s;
    background-color: transparent;
    padding: 10px;
    border: 1px solid $light-grey-color;
    border-radius: 8px;
    color: $white-color;
    color: $white-color;
}

.form-input~span {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: transparent;
    background-color: rgb(69, 69, 71);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(122, 112, 112, 0.656);
    z-index: -1;
}

.form-input:valid~span,
.form-input:focus~span {
    transform: translateY(-7px);
    top: 0;
    padding: 0 10px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
    font-size: 0.8rem;
    z-index: 1;
}

.form-input:focus,
.form-input:valid {
    border: 2px solid white;
    color: white;
}


//   
  
  .search-form button[type="submit"],
  .load-more {
    padding: 12px 20px 10px;
    font-size: 12px;
    color: #C4DFE6;
    background-color: #003B46;
    border: 2px solid #003B46;
    border-radius: 5px;
    transition: 0.3s all;
  }
  
  .search-form button[type="submit"]:hover,
  .search-form button[type="submit"]:focus,
  .load-more:hover,
  .load-more:focus {
    color: #003B46;
    background-color: #C4DFE6;
    border: 2px solid #C4DFE6;
  }
  
  .gallery {
    max-width: 1216px;
    padding: 70px 30px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    row-gap: 32px;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .gallery .photo-card {
    flex-basis: calc((100% - 32px) / 3);
  }
  
  .gallery .photo-card .gallery__link {
    display: flex;
  }
  
  .gallery .photo-card .card-image {
    min-height: 574px;
    object-fit: fill;
    border-radius: 10px;
  }
  
  .gallery .photo-card .info {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .gallery .photo-card .info .info-item {
    font-size: 18px;
    flex-basis: calc((100% - 40px) / 4);
    color: #003B46;
  }
  
  .clear-btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 15px 35px;
    font-size: 16px;
    display: none;
  }
  
  .clear-btn.is-active {
    display: block;
  }
  
  .tui-pagination {
    display: flex;
    justify-content: center;
  }