<header class="header">
  <div class="container">
    <a class="header__logo" href="/src/index.html">
      <svg class="header__logo-icon" width="48" height="48">
        <use href="/src/img/icons.svg#icon-logo"></use>
      </svg>
      <p class="header__logo-text">Cinemania</p>
    </a>

    <div class="mobile-menu js-menu-container">
      <div class="mobile-menu__container">
        <a class="mobile-menu__logo" href="/src/index.html">
          <svg class="mobile-menu__logo-icon" width="32" height="32">
            <use href="/src/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="/src/index.html">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="/src/catalog.html">CATALOG</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="/src/library.html">my library</a>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="header__menu-open js-open-menu"
      type="button"
      aria-label="Open mobile menu"
    >
      MENU
    </button>
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="/src/index.html">Home</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/src/catalog.html">CATALOG</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/src/library.html">my library</a>
      </li>
    </ul>

    <div class="theme-switcher js-theme-switcher">
      <svg class="theme-switcher__icon" id="icon-moon" width="13" height="13">
        <use href="/src/img/icons.svg#icon-moon"></use>
      </svg>
      <svg class="theme-switcher__icon" id="icon-sun" width="13" height="13">
        <use href="/src/img/icons.svg#icon-sun"></use>
      </svg>
    </div>
  </div>
</header>
