// Стили кнопок

.to-top-btn {
  display: none;
  z-index: 50;
}

@media screen and (min-width: 470px) {
  .to-top-btn {
    font-family: Roboto;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 70px;
    right: -35px;
    writing-mode: vertical-rl;
    background-color: transparent;
    border: none;
    opacity: 0;
    color: $orange-color;
    transform: rotate(-90deg);
    transition: opacity 1s $transition-cubic-bezier,
      transform 1s $transition-cubic-bezier;
    writing-mode: vertical-rl;
    z-index: 50;
  }

  .to-top-btn svg {
    margin-left: 5px;
    fill: $orange-color;
    z-index: 50;
  }

  .to-top-btn:hover,
  .to-top-btn:focus {
    transform: rotate(-90deg) translateX(10px);
  }

  .to-top-btn.show-btn {
    opacity: 1;
    z-index: 50;
  }

  .to-top-btn.remove-btn {
    opacity: 0;
    z-index: 50;
  }
}

@media screen and (min-width: 1280px) {
  .to-top-btn {
    right: 0;
    z-index: 50;
  }
}

@mixin standard-orange-button($desktop-font-size, $desktop-line-height) {
  padding: 11px 23px;
  border-radius: 74px;
  background: linear-gradient(
      141.22deg,
      $gradient-orange-color 9.4%,
      $gradient-red-color 91.91%
    )
    border-box;
  font-family: $font-family;
  font-weight: $font-weight-medium;
  font-size: 0.75rem;
  line-height: 117.166667%; /* 14.06px / 12px */
  color: $black-color;
  transition: color $transition $transition-cubic-bezier;
  border: 1px solid transparent;

  &:focus-visible,
  &:hover {
    text-decoration: none;
    color: $orange-color;
    background: linear-gradient($bg-color, $bg-color) padding-box,
      linear-gradient(
          141.22deg,
          $gradient-orange-color 9.4%,
          $gradient-red-color 91.91%
        )
        border-box;
    // padding: 11px 23px;
  }

  @include media-query(tablet) {
    font-size: 0.875rem;
  }

  @include media-query(desktop) {
    font-size: $desktop-font-size;
    line-height: $desktop-line-height;
  }
}
