.container {
    max-width: 280px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    @include media-query(tablet) {
        max-width: 704px;
        padding: 0 32px;
    }

    @include media-query(desktop) {
        max-width: 1216px;
    }
}