.container {
  max-width: 280px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  @include media-query(tablet) {
    max-width: 704px;
    padding: 0 32px;
  }

  @include media-query(desktop) {
    max-width: 1216px;
  }
}
