// Стили хедера
//---------------------HEADER------------------//
.head-div{
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 88px;
    margin-left: unset;
    }
    
    .header-link-one:hover,
    .header-link-one:focus,
    .header-link-two:hover, 
    .header-link-two:focus,
    .header-link-three:hover, 
    .header-link-three:focus{
    color: $orange-color;
    text-decoration: none;
    }
    
    .mob-menu{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 204px;
    height: 100%;
    background: #171717;
border-radius: 0px 8px 8px 0px;
    }

    .mob-container{
        padding-top: 8px;
        padding-left: 20px;
    }
    

    .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }

    .no-scroll{
        overflow: hidden;
      }

      .menu-logo{
        cursor: pointer;
        margin-bottom: 40px;
        
      }

      .switcher {
        &__checkbox {
          opacity: 0;
          position: absolute;
        }
      
        &__label {
          background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
          border-radius: 194px;
          width: 44px;
          height: 18px;
          padding: 4px;
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
      
          & .ball {
            background-color: $white-color;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 3px;
            top: 2px;
            border-radius: 50%;
            transition: transform $transition, $transition-cubic-bezier;
          }
        }

      
        & svg {
          width: 12px;
          height: 12px;
        }
      }
      
      .switcher__checkbox:checked + .switcher__label .ball {
        transform: translateX(24px);
      }




      

//-------------------MOBILE-------------------//
@media screen and (min-width: 280px){
    .switcher{
        position: absolute;
        right: 20px;
    }

    .head-next{
        cursor: pointer;
        padding-left: 20px;
    }

    .mob-container{
        padding-top: 8px;
        padding-left: 20px;
    }

    .icon-button{
        padding-left: 20px;
    }
    

    .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }

    .no-scroll{
        overflow: hidden;
      }

      .menu-logo{
        cursor: pointer;
        margin-bottom: 40px;
        
      }

    .icon-logo{
        height: 32px;
        width: 32px;
    }

.menu-item:not(:last-child) {
    margin-bottom: 24px;
}

    .head-div{
        display: flex;
        align-items: center;
        padding: 8px 0px;
        margin-left: unset;
        }

.header-list{
    display: none;
}

.head-logo{
    display: none;
}

.paragraph-head{
margin-left: 93px;    
font-family: $font-family;
font-style: normal;
font-weight: $font-weight-medium;
font-size: $font-size-caption;
line-height: $font-size-tiny;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: $light-grey-color;
cursor: pointer;
}


.menu-link-one{
width: 40px;
height:$font-size-small;
font-family: $font-family;
font-style: normal;
font-weight: $font-weight-regular;
font-size: $font-size-tiny;
line-height: $font-size-small;
text-transform: uppercase;
color: $white-color;
}

.menu-link-two{
width: 61px;
height: $font-size-small;
font-family: $font-family;
font-style: normal;
font-weight: $font-weight-regular;
font-size: $font-size-tiny;
line-height: $font-size-small;
text-transform: uppercase;
color: $white-color;
}

.menu-link-three{
width: 79px;
height:$font-size-small;
font-family: $font-family;
font-style: normal;
font-weight: $font-weight-regular;
font-size: $font-size-tiny;
line-height: $font-size-small;
text-transform: uppercase;
color: $white-color;
}

.menu-link-one:hover,
.menu-link-one:focus,
.menu-link-two:hover,
.menu-link-two:focus,
.menu-link-three:hover,
.menu-link-three:focus{
    color: $orange-color;
    text-decoration: none;
}

}




    
    //-----------------TABLET------------------//
    
       @media screen and (min-width: 768px){

        .switcher{
            right: 32px;
        }

        .head-next{
            display: flex;
            padding-left: unset;
        }

        .no-scroll{
            overflow: unset;
        }
    
.mob-menu{
    display: none;
}

        .icon-logo{
            width: 40px;
            height: 40px;
        }

        .head-div{
            padding: 10px 0px 10px 88px;
            }

.paragraph-head{
    display: none;
}
    
        .header-list{
            display: flex;
            gap: 32px;
            margin-left: 59px;
        }
    
    
    .header{
        height: 60px;
    }
    
        .head-logo{
            margin-left: 9.5px;
            padding: 4px 0px;
            font-family: $font-family;
            font-style: normal;
            font-weight: $font-weight-regular;
            font-size: $font-size-subbody;
            line-height: $font-size-subheader;
            color: $white-color;
            display: block;
            }
    
    
    
            .header-link-three{
                width: 80px;
                height: 16px;
                font-family: $font-family;
                font-style: normal;
                font-weight: $font-weight-medium;
                font-size: $font-size-tiny;
                line-height: $font-size-small;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
             color: $light-grey-color;
            }
            
            .header-link-two{
                width: 62px;
                height: 16px;
                font-family: $font-family;
                font-style: normal;
                font-weight: $font-weight-medium;
                font-size: $font-size-tiny;
                line-height: $font-size-small;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
             color: $light-grey-color;
            }
            
            .header-link-one{
                width: 40px;
                height: 16px;
                font-family: $font-family;
                font-style: normal;
                font-weight: $font-weight-medium;
                font-size: $font-size-tiny;
                line-height: $font-size-small;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: $light-grey-color;
            }
    
    
       }
    
       //-----------------DEKSTOP------------------//
    
       @media screen and (min-width: 1280px){


               
        .header-list{
            gap: 40px;
            margin-left: 307px;
        }
        
    
    }