.close-icon {
  stroke: $light-grey-color;

  height: 11px;
  width: 11px;
  margin: 0;
  transition-property: stroke;
  transition-duration: $transition;
  transition-timing-function: $transition-cubic-bezier;
}
.close-icon:hover,
.close-icon:focus {
  stroke: $orange-color;
}
.github-icon {
  fill: $light-grey-color;
  margin-right: 5px;
}
.logo-icon {
  margin-right: 8px;
}
.header-logo {
  width: 130px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: $white-color;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.modal-team-close {
  display: block;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  margin-left: auto;
}
.modal-team-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team-img {
  // transition: transform 0.3s ease;
  width: 264px;
  height: 260px;
}
// .modal-team-item {
//   transition: transform 0.3s ease;
// }
// .modal-team-item:hover {
//   transform: scale(1.2); /* Збільшити масштаб зображення */
// }
.backdrop {
  background-color: rgba(35, 35, 42, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.footer-modal {
  z-index: 999;
  position: absolute;
  height: 100vh;
  overflow: scroll;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 266px;
  padding: 30px 15px 40px 15px;
  background-color: $black-color;
  transform: translate(-50%, -50%);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.modal-team-title {
  color: $light-grey-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  margin-bottom: 18px;
}
.descr-wrap {
  padding-left: 10px;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: $black-color;
}
.modal-team-aftertitle {
  color: $light-grey-color;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);
  text-transform: uppercase;
  margin-bottom: 4px;
}
.modal-team-deskr,
.github-link {
  color: $light-grey-color;
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);
}
.github-link {
  margin-top: 2px;
  transition-property: color;
  transition-duration: $transition;
  transition-timing-function: $transition-cubic-bezier;
  display: flex;
  align-items: end;
}

.github-link:hover,
.github-link:focus {
  color: $orange-color;
}
.hidden {
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%);
}
@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .footer-modal {
    width: 640px;
    padding: 24px 24px 60px 24px;
  }
  .modal-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
  }
  .header-logo {
    margin-left: 24px;
  }
  .modal-team-close {
    // margin-right: 12px;
  }
  .modal-team-title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-modal {
    width: 1280px;
    padding-bottom: 60px;
  }
  .modal-team-close {
    // margin-right: 45px;
  }
  .modal-team-title {
    font-size: 28px;
    line-height: calc(32 / 28);
    margin-bottom: 24px;
  }
  .logo-icon {
    width: 45px;
    height: 36px;
    margin-right: 12px;
  }
  .header-logo {
    width: 170px;
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-left: 50px;
    margin-bottom: 8px;
  }
}

.modal-team-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: transform 0.3s ease;
}

.modal-team-item.animate {
  opacity: 1;
  transform: translateY(0);
}
.modal-team-item:hover {
  transform: scale(1.1); /* Збільшити масштаб зображення */
  z-index: 20;
}
